{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "doubleQuote": true,

  "printWidth": 130,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.styled.js",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
